
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
    border: 1px solid red;
}

/* header */
header{
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

#content{
    display: flex;
    justify-content: space-around;
}

.text{
    padding: 10px;
    color: white;
}

.search input{
    height: 35px;
    width: 225px;
    border-radius: 50px;
}

/* Main */

#image img{
    height: 700px;
    width: 100%;
}

/* second */

#second{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
#second .content{
    width: 50%;
}
#second .content img{
    width: 100%;
}

.content1 .heading{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #003d15;
    text-align: center;
}
.content1{
    margin-top: 50px;
    width: 50%;
}

.content1 .para{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 30px 50px 10px;
    text-align: justify;
}


.content img{
    height: 400px;
}

/* third */

#third{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.msg h3{
    font-size: 26px;
    font-weight: bold;
    color: green;
    margin: 10px 0px;
    font-family: "Playfair Display", serif;
}

.msg p{
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #545454;
    padding-left: 20px;
}

.first1{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid black;
    height: 200px;
    width: 70%;
    align-items: center;
}

.icons img{
    height: 50px;
    display: flex;
    width: 33.30%;
}

.icons{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;   
    justify-content: space-around;
}

/* forth */

#forth{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
}

#rate{
    height: 500px;
    width: 90%;
    border: 1px solid gray;
    display: flex
}

#forth .photo{
    width: 50%;
}

#forth .photo img{
    width: 100%;
}

.photo img{
    height: auto;
    width: 100%;
    background-size: cover;
}

.gar{
    text-align: center;
    padding: 10px 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #545454;
    width: 50%;
    height: 50%;
}

.top{
    font-family: "Playfair Display", serif;
    margin: 20px 0px;    
    font-size: 30px;
    color: #003d15;
}
.top h2{
    font-weight: 400;
}

.mid p{
    text-align: center;
    /* margin: 30px 0px; */
}
 /* .mid{
    height: 100%;
}  */

.b button{
    padding: 10px 20px;
    background-color: #003d15;
    color: yellow;
    font-family: 'Playfair Display';
    font-size: 18px;
}

/* fifth */

.f{
    display: flex;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    color: #003d15;
    font-size: 40px;
    justify-content: center;
    margin: 50px 0px;
}

.s{
    display: flex;
    font-weight: 500;
    color: #003d15;
    font-size: 35px !important;
    justify-content: center;
}

.pics{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 80px;
}

.pic1 img{
    height: 500px;
    width: 100%;
    padding: 0px 10px;
}

.pic2 span{
    display: flex;
    justify-content: space-around;
}

span h3{
    color: #003d15;
}

.pic2 img{
    height: 400px;
    width: 100%;
}

/* sixth */
.ex{
    display: flex;
    justify-content: space-around;
    margin: 50px 40px;

}
.offer{
    display: flex;
    justify-content: center;
}
.offer h2{
    font-weight: 500;
    color: #003d15;
    font-size: 35px !important;
    margin-top: 100px;
}

.card1{
    height: 500px;
    width: 100%;
    border: 1px solid black;
}

.card1 p{
    justify-self: center;
    font-size: 30px;
    padding: 10px 6px;
    color: #137b37;
    font-weight: 600;

}

.box-image{
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1 button{
    background-color: #003d15;
    color: yellow;
    height: 40px;
    width: 100px;
    border-radius: 10px; 
}

/* seventh */
#seventh{
    display: flex;
    width: 100%;
}
.txt,.po{
    width: 50%;
}

.txt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 5% 0% 5%;
}

.txt p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #545454;
    margin: 0px 15px;
    text-align: center 
}

.txt h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #003d15;
    font-size: 35px;
    justify-content: center;
}

.po img{
    height: 400px;
    width: 100%;
}

/* footer */
.log{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    border: 0.2px orange solid ;
    padding: 20px;
    width: 100%;
}

.log p{
    font-family: "Playfair Display", serif;
    font-size: 35px;
    line-height: 1.4em;
    justify-self: center;
    margin: 10px 0px;
}

.lo{
    display: flex;
    width: 100%;
    justify-self: center;
    /* justify-content: center; */
}

.lo img{
    height: 100px;
    width: 150px;
}

.foot{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 30px 0px;
}

li{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #545454;
}

footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* responsive */
/* @media only screen and (min-width:768)
{
    #content{
        display:none;
        
    }
    #second{
        display: none;
        width:100%;
    }

    .content img{
        height: 40px;
        width: 100px;
    }

    #content{
        overflow: scroll;
    }
    
    #rate{
        height: 1000px;
    }

    #forth .photo img{
        height: 10px;
        width: 20px;
        background-size: cover;
    }
    .po{
        width: 50%;
    }

} */
@media only screen and (min-width:1024px){
    #content{
        display: flex;
    }
    .search input{
        display: flex;
    }
    .text a{
        display: contents;
    }

}

@media only screen and (max-width:320px)
{
    .text a{
        display: none;
    }

    #second{
        display: block;
    }
    .content1{
        text-align: center;
        justify-content: center;
    }
    #second .content{
        width: 100%;
    }
    #forth{
        display:none;
    }
    #seventh{
        display: block;
        justify-content: center;
    }
    .ex{
        display: block;
    }
    .lo{
        display: block;
    } 
    .pics{
        display: block;
    } 
    .pic2 span{
        display: none;
    }
    #third{
        display: block;
    }   
    .search input{
        display:none;
    }

}